<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Caleb Jay Rogers" />
    <meta
      name="description"
      content="Daily, weekly, and monthly personal review questsions."
    />
    <meta
      name="keywords"
      content="journaling, diary, self improvement, productivity, reflection"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta property="og:title" content="Daily Review" />
    <meta
      property="og:description"
      content="Daily, weekly, and monthly personal review questsions."
    />
    <meta name="twitter:card" content="summary" />
    <link href="styles.css" rel="stylesheet" />
    <title>Daily Review</title>
  </head>

  <body></body>
</html>
